body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #89d2e9; 
    position: relative;
  
}



.img{
    height: 97%;
    width: 6005px;
    display: block;
    position: absolute;
    bottom:  0;
    left: 0;
  
    background-repeat: repeat-x;
    background: url(/dim-hou-bY7aJIOae-g-unsplash\ \(2\).jpg); 
    background-size: cover;
    background-position: center center;

    animation: move 2s linear infinite ; 
}

@keyframes move {
    100%{
        transform: translateX(-5400px);
    }
    
       0%{
        transform: translateX(0%) ;
        
    }
   
    100%{
       /* transform: translateX(-100%) ; */
       /* background-position-x: -20px; */
   }
   
   }

.head{
width: 80px;
height: 80px;
border-radius: 50%;
background-color: saddlebrown;
position: absolute;
top: 20%;
border: 1px solid rgba(0, 0, 0, 0.692);
box-shadow: 0px -10px rgb(27, 1, 1);
z-index: 1;
left: 50%;
} 

.eye1, .eye2{
    position: absolute;
top: 23%;
z-index: 2;
left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.788);
}

.eye1{
    left: 60%;
}
.eye2{
    left: 53%;
}

.mouth{
    width: 25px;
    height: 8px;
    background-color: black;
    position: absolute;
top: 27%;
left: 55.5%;
z-index: 2;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;

    
}
.body{

    position: absolute;
    top: 30%;
    left: 50.5%;
        width: 74px;
        height: 74px;
        border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;



        background-color: saddlebrown;
    }

     .arm1, .arm2{
        position: absolute;
    top: 13%;
    left: 53%;
        width: 20px;

        height: 70px;
        border-radius: 20px;
      
        background-color: saddlebrown;
    } 



    .arm1{
        top: 28%;
        left: 48%;
        transform:rotate(90deg);
        
    }

    .arm2{
        top: 28%;
        left: 63%;
        transform:rotate(90deg);

    }

    .farm1, .farm2{
        position: absolute;
    top: 13%;
    left: 53%;
        width: 20px;

        height: 54px;
        border-radius: 20px;
      
        background-color: rgb(19, 81, 139);
    } 



    .farm1{
        top: 27%;
        left: 44%;
        transform:rotate(40deg);
        background-color: saddlebrown;
    }

    .farm2{
        top: 31.5%;
        left: 66.5%;
        transform:rotate(30deg);
        background-color: saddlebrown;

    }


    .leg1, .leg2{
        position: absolute;
    top: 39.5%;
    left: 51.5%;
        width: 28px;

        height: 84px;
       
      
        background-color: saddlebrown;
    } 



    .farm1{
        top: 27%;
        left: 44%;
        transform:rotate(40deg);
        background-color: saddlebrown;
    }

    .leg2{
      
        left: 58.8%;
      
        background-color: saddlebrown;

    }

    .space{
       
            width: 250px;
            height: 30px;
            z-index: 2;
            position: absolute;
            top: 51.5%;
            left: 33.5%;
         
            background-color: rgb(202, 82, 26);
            background: linear-gradient(to left, saddlebrown, black);
    
        
    }
    h2{
        position: absolute;
        z-index: 20;
        font-size: 2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .imgg{
        position: absolute;
        top: 53%;
left: 42%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        animation: wheel 1s infinite linear;

    }

    .space > .img img{
        width: 100%;
        height: auto;
        animation: wheel 1s infinite linear;
    }


    @keyframes wheel {
        0%{
            transform: rotate(360deg);
        }
    }

    .imgg#second{
        left: 62%;
    }

    @media only screen and (min-width : 1100px){

.head{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: saddlebrown;
    position: absolute;
    top: 20%;
    border: 1px solid rgba(0, 0, 0, 0.692);
    box-shadow: 0px -10px rgb(27, 1, 1);
    z-index: 1;
    left: 50%;
    } 
    
    .eye1, .eye2{
        position: absolute;
    top: 24%;
    z-index: 2;
    left: 50%;
        width: 14px;
        height: 14px;
        border-radius: 50%;
     
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(255, 255, 255, 0.788);
    }
    
    .eye1{
        left: 55%;
    }
    .eye2{
        left: 51.5%;
    }
    
    .mouth{
        width: 35px;
        height: 8px;
        background-color: black;
        position: absolute;
    top: 29%;
    left: 52.5%;
    z-index: 2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
        
    }
    .body{
    
        position: absolute;
        top: 30%;
        left: 50.5%;
            width: 84px;
            height: 84px;
            border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    
    
    
            background-color: saddlebrown;
        }
    
         .arm1, .arm2{
            position: absolute;
        top: 13%;
        left: 53%;
            width: 20px;
    
            height: 65px;
            border-radius: 20px;
          
            background-color: saddlebrown;
        } 
    
    
    
        .arm1{
            top: 28%;
            left: 48%;
            transform:rotate(90deg);
            
        }
    
        .arm2{
            top: 28%;
            left: 58%;
            transform:rotate(90deg);
    
        }
    
        .farm1, .farm2{
            position: absolute;
        top: 13%;
        left: 53%;
            width: 21px;
    
            height: 54px;
            border-radius: 20px;
          
            background-color: rgb(19, 139, 79);
        } 
    
    
    
        .farm1{
            top: 7%;
            left: 49%;
            transform:rotate(40deg);
            background-color: rgb(19, 139, 89);
        }

    
        .farm2{
            top: 31.5%;
            left: 59%;
            transform:rotate(30deg);
            background-color:saddlebrown;
    
        }
    
    
        .leg1, .leg2{
            position: absolute;
        top: 39.5%;
        left: 50.5%;
            width: 28px;
    
            height: 84px;
           
          
            background-color: saddlebrown;
        } 
    
    
    
        #farm1{
           
            top: 26.5%;
            left: 47%;
            transform:rotate(40deg);
            background-color: saddlebrown;
        }
    
        .leg2{
          
            left: 54.8%;
          
            background-color: saddlebrown;
    
        }
    
        .space{
           
                width: 320px;
                height: 30px;
                z-index: 2;
                position: absolute;
                top: 51.5%;
                left: 39.5%;
             
                background-color: rgb(202, 82, 26);
                background: linear-gradient(to left, saddlebrown, black);
        
            
        }
        h2{
            position: absolute;
            z-index: 20;
            font-size: 2rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    
        .imgg{
            position: absolute;
            top: 53%;
    left: 42%;
            width: 50px;
            height: 50px;
            overflow: hidden;
            animation: wheel 1s infinite linear;
    
        }
    
        .space > .img img{
            width: 100%;
            height: auto;
            animation: wheel 1s infinite linear;
        }
    
    
        @keyframes wheel {
            0%{
                transform: rotate(360deg);
            }
        }
    
        .imgg#second{
            left: 59%;
        }
    
    }